<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="css/style.css"></link>
</head>
<body>
    <h1>
        <%=title%>
    </h1>
    <img src="/img/1.JPG" alt=""> <!-- 不能简单使用相对路径加载静态资源文件 需要引入第三方中间件 -->
</body>
</html>