<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>用户详情页</h1>
    <h2>用户：<%=user.username%></h2>
    <p>
        用户密码：<%=user.password%>
    </p>
    <p>
        联系方式：<%=user.tel%>
    </p>
</body>

</html>