<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <link>
</head>

<body>
    <div class="container">
        <%- include('header')%>
        <main class="blog-list">
            <%
                for(let i=0;i<blogs.length ;i++){
                    let blog = blogs[i];
            %>
            <div class="blog">
                <h3 class="blog-title"><%=blog.title%></h3>
                <p class="blog-content"><%=blog.content%></p>
                <span class="post-time"><%=blog.post_time%></span>
                <a href="/blogDetail">查看详情</a>
            </div>
            <%
                }
            %>

        </main>
    </div>
</body>

</html>