<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link>
</head>

<body>
    <!-- <img src="/img/1.jpg" alt=""> -->
    <div class="container">
        <%- include('header')%>

        <main class="login-form">
            <h4>用户注册</h4>
            <form method="POST" action="/regist">
                <p>
                    <label for="login-username">用户名：</label>
                    <input id="login-username" type="text" name="username" placeholder="username">
                </p>
                <p>
                    <label for="login-password">密码：</label>
                    <input id="login-password" type="text" name="password" placeholder="password">
                </p>
                <p>
                    <label for="login-username">昵称：</label>
                    <input id="login-username" type="text" name="nickname" placeholder="username">
                </p>
                <p>
                    <button type="submit" class="btn">注册</button>
                </p>
            </form>
        </main>

    </div>
</body>

</html>