<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册新账号</title>
    <link rel="stylesheet" href="/css/style.css">
    </link>
    <link rel="stylesheet" href="/css/index.css">
    </link>
    <link rel="stylesheet" href="/css/regist.css">
    </link>
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="/images/4.jpg" alt="">
        </div>
        <div class="right">
            <%-include('error')%>

            <form method="POST" action="/regist">
                <p>
                    用户名:<br>
                    <input id="login-username" type="text" name="username" placeholder="username">
                </p>
                <p>
                    昵称:<br>
                    <input id="login-username" type="text" name="nickname" placeholder="username">
                </p>
                <p>
                    密码:<br>
                    <input id="login-password" type="text" name="password" placeholder="password">
                </p>
                <p>
                    <button>注册</button>
                </p>
            </form>
        </div>
    </div>
</body>

</html>