html {
    width: 100%;
    height: 100%;
}

body {
    margin: 20px;
    background: url('/images/3.jpg') no-repeat;
    background-size: cover;
}

.blog{
    margin-top: 10px;
    width: 80%;
    height: 100px;
    background: rgba(250, 250, 250, 0.7);
}